<p>My name is Kelly Sutton. I’m a software engineer living in San Francisco. I’m on the engineering team at <a href="https://gusto.com/">Gusto</a>.</p>

<p>I’ve started and sold <a href="https://www.designernews.co">Designer News</a>, <a href="http://hackcollege.com">HackCollege</a>, and <a href="http://layervault.com">LayerVault</a>. I was also known at one time for the Cult of Less. Now I have a girlfriend and a waffle iron, so we can all agree that project is likely over.</p>

<p>If you would like to get in touch, please <a href="mailto:michael.k.sutton@gmail.com">drop me an email</a>.</p>